<div class='marketing'>
    <div class='row featurette'>
        <div class='col-md-7 mt-10rem'>
            <h2 class='featurette-heading fw-normal lh-1'>First featurette heading.
                <span class='text-muted'>It’ll blow your mind.</span>
            </h2>
            <p class='lead'>Some great placeholder content for the first featurette here. Imagine some exciting prose
                here.</p>
        </div>
        <div class='col-md-5'>
            <img src='/pic1.png' width='100%' />
        </div>
    </div>
</div>
<hr class='featurette-divider' />
<div class='row featurette'>
    <div class='col-md-7 order-md-2 mt-10rem'>
        <h2 class='featurette-heading fw-normal lh-1'>Oh yeah, it’s that good. <span class='text-muted'>See for
                yourself.</span></h2>
        <p class='lead'>Another featurette? Of course. More placeholder content here to give you an idea of how this
            layout would work
            with some actual real-world content in place.</p>
    </div>
    <div class='col-md-5 order-md-1'>
        <img src='/pic2.png' width='100%' />
    </div>
</div>

{{#if products.length}}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5rem">
    {{#if HomeInfo}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Info!</strong> {{HomeInfo}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#each products}}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{image}}" class="img" />
            <div class="card-body">
                <p class="card-text fw-bold">{{title}}</p>
                <div class="d-flex justify-content-between flex-column align-items-start">
                    <div>
                        <p class="text-muted">Created at: <span class="text-dark">{{formatDate createdAt}}</span></p>
                    </div>
                    <small class="text-muted fs-5">{{price}}$</small>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group btn-group-sm" role="group">
                    <a href="/product/{{_id}}" type="button" class="btn btn-outline-primary">Detail</a>
                    {{#if @root.token}}
                    {{#ifequal user @root.userId}}
                    <a type="button" class="btn btn-outline-secondary" href="/edit/{{_id}}">Edit</a>
                    <a href="/delete/{{_id}}" type="button" class="btn btn-outline-danger">Delete</a>
                    {{/ifequal}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h1 class="text-center text-danger">No products</h1>
{{/if}}