{{#if products.length}}
<br>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#if HomeInfo}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Info!</strong> {{HomeInfo}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}

    {{#each products}}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{image}}" class="img" />
            <div class="card-body">
                <p class="card-text fw-bold">{{title}}</p>
                <div class="d-flex justify-content-between flex-column align-items-start">
                    <div>
                        <p class="text-muted">Created at: <span class="text-dark">{{formatDate createdAt}}</span></p>
                    </div>
                    <small class="text-muted fs-5">{{price}}$</small>
                </div>
            </div>

            <div class="card-footer">
                <div class="btn-group btn-group-sm" role="group">
                    <a href="/product/{{_id}}" type="button" class="btn btn-outline-primary">Detail</a>
                    {{#if @root.token}}
                    {{#ifequal user @root.userId}}
                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                    {{/ifequal}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h1 class="text-center text-danger">No products</h1>
{{/if}}