{{#if pro.length}}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {{#each pro}}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{image}}" class="img" />
            <div class="card-body">
                <p class="card-text fw-bold">{{title}}</p>
                <p class="card-text">{{description}}</p>
                <div class="d-flex justify-content-between flex-column align-items-start">
                    <div>
                        <p class="text-muted">Author: <span class="text-dark">{{user.firstName}}</span></p>
                    </div>
                    <div>
                        <p class="text-muted">Created at: <span class="text-dark">{{formatDate createdAt}}</span></p>
                    </div>
                    <small class="text-muted fs-5">{{price}}$</small>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<section class='page_404 w-75 mx-auto'>
    <div class='row'>
        <div class='col-sm-12'>
            <div class='col-sm-10 col-sm-offset-1 text-center'>
                <div class='four_zero_four_bg'>
                    <h1 class='text-center'>404</h1>
                </div>
                <div class='contant_box_404'>
                    <h3 class='h2'>
                        Add new products
                    </h3>
                    <a href='/add' class='btn btn-primary btn-lg mb-5'>Add products</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}